h1{
    color: crimson;
    background-color:rgb(235, 184, 194);
    border-bottom: crimson 5px double;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
}

a{
    color: blue;
}

a:hover{
    color: crimson;
}

h4{
    text-align: end;
    size: 10px
}

.topo{
    color: crimson;
    background-color:rgb(235, 184, 194);
    border-bottom: crimson 5px double;
    text-transform: uppercase;
    text-align: center;
}

.medium{
    color: rgb(218, 96, 120);
    text-decoration:underline;
}