#kell{
    color: #081222;
}

.a{ 
    color: #221296;
}
.b{
    color: #120194;
}
.c{
    color: #161715;
}
.d{
    color: #191715;
}
.e{
    background-color: rgba(151, 241, 222, 0.993);
    text-align: center;
    text-indent: 40px;
    font-size: 20px;
}

.f{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    margin: 20px 20px 10px 10px;
    border: 4px red double;
    border-radius: 5px;
    padding: 20px;
}
.g{
    color: rgb(0, 255, 115);
    background-color: rgb(255, 0, 0);
    margin: 20px 20px 10px 10px;
    border: 4px rgb(0, 0, 0) double;
    border-radius: 55px;
    padding: 20px;
}

a{
    color: rgb(0, 47, 255);
    font-size: 20px;
}

a:hover{
    color: rgb(217, 255, 0);
}

a:active{
color: red;
}

ul li{
    list-style-type: disc;
} 

ol li{
    list-style-type: upper-roman;
    list-style-position: inside;
}